streamlit
pandas
beautifulsoup4
requests
scikit-learn
matplotlib
lxml
seaborn              
plotly               
numpy               
streamlit-plotly-events
sentence_transformers
torch
bertopic[all]
bertopic
umap-learn

